@{
    ViewData["Title"] = "Facilities Management";
}

<h1 class="text-center">Facilities Management</h1>

<div class="container mt-5">
   
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Department Management</h5>
                    <a class="btn btn-primary btn-block mb-2" asp-controller="Department" asp-action="Add">Add Department</a>
                    <a class="btn btn-danger btn-block mb-2" asp-controller="Department" asp-action="Index">Change Department facilities</a>
                  @*   <a class="btn btn-secondary btn-block" asp-controller="Department" asp-action="Index">Move Doctor to Department</a> *@
                </div>
            </div>
        </div>

      
        @* <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Room Management</h5>
                    <a class="btn btn-primary btn-block mb-2" asp-controller="Room" asp-action="Add">Add New room</a>
                    <a class="btn btn-danger btn-block mb-2" asp-controller="Room" asp-action="Index">Change or delete room</a>
             
                </div>
            </div>
        </div> *@
    </div>
</div>
