@using HospitalManagment.ViewModels.Department
@model AddDepartmentViewModel

@{
    ViewData["Title"] = "Add New Department";
}

<div class="container mt-5">
    <h2 class="text-center">Add New Department</h2>

    <form asp-action="Add" method="post" class="mt-4">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label asp-for="Name" class="control-label" p style="font-weight: bold;">Name of department</label>
            <input asp-for="Name" class="form-control" aria-required="true" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

       
        <button type="submit" class="btn btn-primary mt-3">Add Department</button>
        <a asp-action="Index" class="btn btn-secondary mt-3 ml-2">Cancel</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
