@using HospitalManagment.ViewModels.Department
@model DeleteDepartmentViewModel

@{
    ViewData["Title"] = "Delete Department";
}

<div class="container mt-5">
    <h2 class="text-center text-danger">Delete Department</h2>

    <p class="mt-4">Are you sure you want to delete @Model.Name department?</p>

    <div class="card p-3 mb-4">
        <h4>@Model.Name</h4>
       
    </div>

    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="DepartmentId" />

        <button type="submit" class="btn btn-danger">Confirm Delete</button>
        <a asp-controller="Doctor" asp-action="Manage" class="btn btn-secondary ml-2">Cancel</a>
    </form>
</div>
