@{
    ViewData["Title"] = "Welcome to Our Hospital Management System!";
}

@if (ViewBag.ShowPatientBanner != null && (bool)ViewBag.ShowPatientBanner)
{
    <div class="alert alert-info text-center" role="alert">
        <strong><h3>Please contact us for further information!</h3></strong>
        <a asp-controller="Home" asp-action="ContactUs" class="alert-link">Contact Us</a>
    </div>
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Hospital Management System</h2>

    
    <div class="row justify-content-center gap-3">

        <!-- Manager Actions -->
        @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
        {
            <div class="col-lg-3 col-md-4">
                <div class="box shadow">
                    <button class="btn btn-lg btn-success dropdown-toggle w-100" type="button" id="managerDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Manager Actions
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="managerDropdown">
                        <li><a class="dropdown-item" asp-controller="Manager" asp-action="Index">Dashboard</a></li>
                        <li><a class="dropdown-item" asp-controller="Manager" asp-action="EmployeeManage">Employees Management</a></li>
                        <li><a class="dropdown-item" asp-controller="Manager" asp-action="FacilitiesManage">Facilities Management</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="box shadow">
                    <button class="btn btn-lg btn-success dropdown-toggle w-100" type="button" id="doctorDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Doctor
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="doctorDropdown">
                        <li><a class="dropdown-item" asp-controller="Doctor" asp-action="Index">View Doctors</a></li>
                        <li><a class="dropdown-item" asp-controller="Doctor" asp-action="Create">Add Doctor</a></li>                        
                    </ul>
                </div>
            </div>

            <!-- Nurse -->
            <div class="col-lg-3 col-md-4">
                <div class="box shadow">
                    <button class="btn btn-lg btn-success dropdown-toggle w-100" type="button" id="nurseDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Nurse
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="nurseDropdown">
                        <li><a class="dropdown-item" asp-controller="Nurse" asp-action="Index">View Nurses</a></li>
                        <li><a class="dropdown-item" asp-controller="Nurse" asp-action="Add">Add Nurse</a></li>
                       
                    </ul>
                </div>
            </div>
        }       
        
        @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Doctor") || User.IsInRole("Nurse"))

                    {
        <!-- Patient -->
        <div class="col-lg-3 col-md-4">
            <div class="box shadow">
                <button class="btn btn-lg btn-success dropdown-toggle w-100" type="button" id="patientDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Patient
                </button>
                <ul class="dropdown-menu" aria-labelledby="patientDropdown">
                    <li><a class="dropdown-item" href="/Patient/Index">View Patients</a></li>
                    
                        <li><a class="dropdown-item" href="/Patient/Add">Add Patient</a></li>
                        <li><a class="dropdown-item" href="/Patient/Manage">Manage Patients</a></li>
                    
                </ul>
            </div>
        </div>


        <div class="col-lg-3 col-md-4">
            <div class="box shadow">
                <button class="btn btn-lg btn-success dropdown-toggle w-100" type="button" id="departmentDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Departments
                </button>
                <ul class="dropdown-menu" aria-labelledby="departmentDropdown">
                    
                    
                        <li><a class="dropdown-item" href="/Department/Index">View Departments</a></li>
                        <li> <a class="dropdown-item" href="/Department/Add">Add Department</a></li>
                       
                    
                </ul>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <div class="box shadow">
                <button class="btn btn-lg btn-success dropdown-toggle w-100" type="button" id="patientDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Rooms
                </button>
                <ul class="dropdown-menu" aria-labelledby="patientDropdown">
                    <li><a class="dropdown-item" href="/Room/Index">View Rooms</a></li>
                   
                </ul>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <div class="box shadow">
                <button class="btn btn-lg btn-success dropdown-toggle w-100" type="button" id="patientDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Treatments
                </button>
                <ul class="dropdown-menu" aria-labelledby="treatmentDropdown">
                    <li><a class="dropdown-item" href="/Treatment/Index">View Treatments</a></li>
                   
                        <li> <a class="dropdown-item" href="/Treatment/Add">Add Treatment</a></li>
                       
                    
                </ul>
            </div>
        </div>

                    }
    </div>
</div>
