@{
    ViewData["Title"] = "Welcome";
    var returnUrl = Url.Content("~/");
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/welcome.css" />
</head>
<body>
    <div class="welcome-container">
        <h1>Welcome to Our Hospital Managment System!</h1>
        <p>Please log in or register to continue.</p>

        <a href="/Identity/Account/Login?returnUrl=@returnUrl" class="btn btn-primary">Login</a>
        <a href="/Identity/Account/Register?returnUrl=@returnUrl" class="btn btn-secondary">Register</a>
    </div>
</body>
</html>
