@using HospitalManagment.ViewModels.Patient
@model DischargePatientViewModel

<div class="container mt-5">
    <h2 class="text-center">Discharge Patient</h2>

    <form asp-action="DischargePatient" method="post" class="mt-4">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />

      
        <div class="form-group">
            <label asp-for="Name" class="control-label" style="font-weight: bold;">Patient Name</label>
            <input asp-for="Name" class="form-control" readonly />
        </div>

      
        <div class="form-group">
            <label asp-for="Id" class="control-label" style="font-weight: bold;">Patient ID</label>
            <input asp-for="Id" class="form-control" readonly />
        </div>

       
        <form asp-action="DischargePatient" method="post">
            <input type="hidden" asp-for="Id" />

            <button type="submit" class="btn btn-danger">Discharge patient?</button>
            <a asp-controller="Patient" asp-action="Manage" class="btn btn-secondary ml-2">Cancel</a>
        </form>
    
    </form>
</div>
