@using HospitalManagment.ViewModels.Patient
@model MovePatientToDepartmentViewModel

<div class="container mt-5">
    <h2 class="text-center">Move Patient</h2>

    <form asp-action="MovePatient" method="post" class="mt-4">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="PatientId" />

     
        <div class="form-group">
            <label asp-for="Name" class="control-label" style="font-weight: bold;">Patient Name</label>
            <input asp-for="Name" class="form-control" readonly />
        </div>

       
        <div class="form-group">
            <label asp-for="EGN" class="control-label" style="font-weight: bold;">Patient EGN</label>
            <input asp-for="EGN" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="CurrentDepartment" class="control-label" style="font-weight: bold;">Current Department</label>
            <input asp-for="CurrentDepartment" class="form-control" readonly />
        </div>

        <div class="form-group">
            <label asp-for="CurrentRoom" class="control-label" style="font-weight: bold;">Current room number</label>
            <input asp-for="CurrentRoom" class="form-control" readonly />
        </div>


      
        <div class="form-group">
            <label asp-for="NewDepartmentId" class="control-label" style="font-weight: bold;">Select Department</label>
            <select asp-for="NewDepartmentId" class="form-control" id="departmentDropdown" asp-items="@(new SelectList(Model.Departments, "Id", "Name"))">
                <option value="">Select Department...</option>                
            </select>
            <span asp-validation-for="NewDepartmentId" class="text-danger"></span>
        </div>

       
        <div class="form-group">
            <label asp-for="NewRoomId" class="control-label" style="font-weight: bold;">Select Room</label>
            <select asp-for="NewRoomId" class="form-control" id="roomDropdown">
                <option value="">-- Select a Room --</option>
            </select>
            <span asp-validation-for="NewRoomId" class="text-danger"></span>
        </div>

  
        <button type="submit" class="btn btn-primary mt-3">Move Patient</button>
        <a asp-action="Index" class="btn btn-secondary mt-3 ml-2">Cancel</a>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#departmentDropdown').change(function () {
                var departmentId = $(this).val();
                var roomDropdown = $('#roomDropdown');

              
                roomDropdown.empty().append('<option value="">-- Select a Room --</option>');

                if (departmentId) {
                  
                    $.get('/Patient/GetFreeRoomsOnMove', { departmentId: departmentId }, function (data) {
                        data.forEach(function (room) {
                            roomDropdown.append($('<option>', { value: room.value, text: room.text }));
                        });
                    }).fail(function () {
                        alert('Error fetching rooms. Please try again.');
                    });
                }
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.13/jquery.validate.unobtrusive.min.js"></script>
}
