@using HospitalManagment.ViewModels.Treatment
@model DeleteTreatmentViewModel

@{
    ViewData["Title"] = "Delete Treatment";
}

<div class="container mt-5">
    <h2 class="text-center text-danger">Delete Treatment @Model.Name</h2>

    <p class="mt-4">Are you sure you want to delete @Model.Name treatment?</p>

    <div class="card p-3 mb-4">
        <h4>@Model.Name</h4>

    </div>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="TreatmentId" />

        <button type="submit" class="btn btn-danger">Confirm Delete</button>
        <a asp-controller="Doctor" asp-action="Manage" class="btn btn-secondary ml-2">Cancel</a>
    </form>
</div>
